@use "../helper/variable" as vars;

.nav {
  position: fixed;
  width: 100%;
  padding: 24px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.3s ease;
  background-color: vars.$color-bg;

  &.scrolled {
    background: vars.$color-bg;
    border-bottom: 1px solid vars.$color-border;
  }

  &.nav-hidden {
    transform: translateY(-100%);
  }

  @media (max-width: 1024px) {
    padding: 20px 40px;
  }

  @media (max-width: 600px) {
    padding: 15px 20px;
  }
}

.logo {
  font-family: vars.$font-decorative;
  font-size: 2.2rem;
  color: vars.$color-primary;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

li {
  list-style: none;
}

.cta {
  padding: 10px 22px;
  background: vars.$color-btn;
  color: vars.$color-white;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  overflow: hidden;

  &-text-wrap {
    position: relative;
    height: 1.2em;
    overflow: hidden;
  }

  &-text {
    position: relative;
  }

  .text-top,
  .text-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .text-bottom {
    transform: translateY(100%);
    opacity: 0;
  }

  .cta-arrow {
    transition: transform 0.3s ease;
  }
}

.hamburger {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 1002;

  .line {
    height: 2.5px;
    width: 100%;
    background: vars.$color-primary;
  }
}

.menu {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  backdrop-filter: blur(20px);
  background: vars.$color-bg;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.1);
}

.mobile-link {
  font-size: 2.2rem;
  color: vars.$color-primary;
  text-decoration: none;
  opacity: 0;
  transform: translateY(40px);
  transition: color 0.3s ease, letter-spacing 0.3s ease;

  &:hover {
    color: vars.$color-accent;
    letter-spacing: 2px;
  }
}